{% extends "MDC_Website/base.html" %}

{% block title %}{{ product.prduct_name }} {% endblock %}

{% block content %}
<img src="{{ product.product_image.url }}">
<p>Product name: {{ product.product_name }}</p>
<p>Product price: {{ product.product_price }}</p>
<form action="{% url "cart:cart_add" product.id %}" method="post">
	{{ cart_product_form }}
	{% csrf_token %}
	<input type="submit" value="Add to cart">
</form>
<p>Product describtion: {{ product.product_description }}</p>
{% endblock %}
