{% extends "MDC_Website/base.html" %}
{% load staticfiles %}
	{% block title %}Products{% endblock %}
	{% block content %}
			<div id="wrap">
				<div id="columns" class="columns_3">
					{% for product in products %}
					<figure>
						<img src="{{ product.product_image.url }}">
						<figcaption>
							<a href="{{ product.get_absolute_url }}">
								{{ product.product_name }}</a>
						</figcaption>
						<span class="price"> 
							{{product.product_price}} 
						</span>
					</figure>
					{% endfor %}
				</div>
			</div>
		{% include "MDC_Website/pagination.html" with page=page_obj %}
		{% endblock %}
