#navigation_bar {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	width: 50%;

}

/*Main header to display the links and navigation*/

.main-header{
	padding:35px 0;
}

.main-header .logo h1{
	margin: 4px 0 0 0;
	font-size: 3em;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-color:#F85709; 	
}

.main-header .main-menu{
	height: 54px;
	position: absolute;
}

.main-header .main-menu ul.menu{
	margin: 0;
	padding: 0;
	position: -webkit-sticky;
		
	width: 100%;
	background-color: #333;
	overflow: hidden;
	top: 0;
}
.main-header .main-menu ul.menu li{
	display: inline-block;
	border-right: 1px solid #bbb;
	margin-left: 0;
}

.main-header .main-menu ul.menu li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
}

.main-header .main-menu ul.menu li a:hover{
	background-color: #111;
}

/* Show products
 * Start from here the design with figure tag which I get it from the internet */

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body{
	font-family: Calluna, Arial, sans-serif;
	min-height: 1000px;
}
#wrap{
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}
.columns_3 figure:nth-child(3){
	margin-right: 0;
}
.columns_3 figure{
	width: 32%;
	margin-right: 1;
}
div#columns figure{
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid black;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 0px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	transition: all .3s ease;
}

div#columns figure img{
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption{
	font-size: .9rem;
	color: #444;
	line-height: 1.5;
	height: 60px;
	font-weight: 600;
	text-overflow: ellipsis;
}
@media screen and (max-width: 960px){
	#columns figure {width: 24%}
}
@media screen and (max-width: 767px){
	#columns figure {width: 32%}
}

@media screen and (max-width: 600px){
	#columns figure {width: 49%}
}
@media screen and (max-width: 500px){
	#columns figure {width: 100%}
}


/*****************************************************************/
.page_link{
	float: left;
}

.link{
	display: block;	
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.link:hover{
	background-color: #111;
}


.product_view{
	max-width: 30%;
	max-height: 30;
	margin: 10px auto;
	padding: 5px 5px;
}

.product_image{
	width: 100%;
	margin-bottom: 8px;
	float: left;
}

.image{
	position: relative;
	display: inline-block;
}

.drop_down_image{
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0, 2);
	z-index: 1;
	min-width: 160px;
	max-width: 80%;	
	background-color: #f9f9f9;
}

.image:hover .drop_down_image{
	display: block;
}

.product_info{
	float: left;
}
.image_desc {
	padding: 15px;
	text-align: center;
}
#product_description{
	border-radius: 25px;
	border-style: solid;
	padding: 5px 5px;
}
#sidebar{
	float: left;
	margin: 5%;
}

#product_view {
	width: 25%;
	float: left;
	line-height: 1.2;
	text-align: center;
	padding: 10px 20px 10px 0;
}

