{% load static %}
<!DOCTYPE html>
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<html>
	<head>
		<button id="ajaxButton" type="button">Make a request</button>
	<script>
		(function (){
			var httpRequest;
			document.getElementById("ajaxButton").addEventListener('click', makeRequest);
			function makeRequest(){
				httpRequest = new XMLHttpRequest();
				if(!httpRequest){
					alert("Can't connect to the server");
					return false;
				}
				httpRequest.onreadystatechange = alertcontents;
				httpRequest.open("GET", "127.0.0.1:8000/MDC_Website/list");
				httpRequest.send();
			}
			function alertcontents(){
				try{
					if(httpRequest.readyState == XMLHttpRequest.DONE){
						if(httpRequest.status == 200){
							var response = JSON.parse(httpRequest.responseText);
							alert(response.comutedString);
						}
					}
				}
				catch(e){
					alert("Caught exception: " + e.description);
				}
			}
		})();
	</script>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{% block title %}{% endblock %}</title>
		{% block base_stylesheet %}
		<link rel="stylesheet" type="text/css" href={% static "css/base.css" %} media="screen"/>
		{% endblock %}
		{% block base_js %}
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		{% endblock %}
		{% block js %}{% endblock %}
	</head>
	
	<body>
		<center>
		<img src="{% static "Design/banner.png" %}"/>
		<H1>Welcome to Medical device company</H1>
		</center>
		<div class="main-header">
			<div class="container">
				<div class="row">
					<div>
						<div class="logo">
							<h1><a href="{% url 'MDC_Website:show_products' %}">
									Medical device company</a>
							</h1>
						</div>
					</div>
					<div>
						<div class="main-menu">
							<ul class="menu">
								<li><a href="{% url 'MDC_Website:show_products' %}">
										Products</a></li>
								<li><a href="{% url 'MDC_Website:login' %}">
										Login</a></li>
								<li><a href="{% url 'MDC_Website:register' %}">
										Register</a></li>
								<li><a href="{% url 'MDC_Website:logout' %}">
										Logout</a></li>
								<li><a href="{% url 'MDC_Website:account' %}">
										Account</a></li>
							</ul>
						</div>
					</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>

